@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-user-drag: none;
}

.menubar {
  -webkit-app-region: drag;
}

.menubar-nodrag {
  -webkit-app-region: no-drag;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

*::-webkit-scrollbar-thumb:hover {
  display: none;
}